<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /imones
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /imones/index.php [L]
</IfModule>